<!DOCTYPE html>
<html>
<head>
  <title>Vault.io</title>
  <%= render 'layouts/meta' %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'modernizr' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
</body>
</html>
